.navbar>.container-fluid{
    margin-left: 7.5em;
    margin-right: 7.5em;
}

@font-face {
    font-family: abc;
    src: url(./../Pacifico/Pacifico-Regular.ttf);
}
.banner{
    margin-top: 3.5em;
}

body{
    font-family: abc!important;
}

.font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-aboutus{
    border-radius: 50%;
}

.bestseller{
    width: 100%;
    background-color: #fbf0e5;
}

.img-bestseller{
    width: 7em;
    height: 7em;
}

.img-banner{
    height: 37rem;
}

.footer-titel{
    display: block;
}
@media screen and (max-width: 390px) {
    .img-banner{
        height: 15rem;
    }

    .navbar>.container-fluid{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .footer-titel{
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .footer-titel{
        display: none;
    }

    .navbar>.container-fluid{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .img-banner{
        height: 15rem;
    }
}


