.navbar>.container-fluid {
    margin-left: 7.5em;
    margin-right: 7em;
}

@font-face {
    font-family: abc;
    src: url(./../Pacifico/Pacifico-Regular.ttf);
}

.banner {
    margin-top: 3.5em;
}

body {
    font-family: abc !important;
}

.img-aboutus {
    border-radius: 50%;
}

.bestseller {
    width: 100%;
    background-color: #fbf0e5;
}

.img-bestseller {
    border-radius: 4%;
    width: 14em;
    height: 14em;
}

.img-banner {
    height: 37rem;
}

.footer-titel {
    display: block;
}

.img-lienhe {
    width: 41.5rem;
    height: 24.5rem;
}

.content-contact{
    padding-left: 3rem;
}

.img-content{
    width: 10rem;
    height: 10rem;
}

@media screen and (max-width: 480px) {
    .img-banner {
        height: 15rem;
    }

    .navbar>.container-fluid {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .footer-titel {
        display: none;
    }

    /* .img-lienhe {
        width: 22.5rem;
        height: 11rem;
    } */
}

@media screen and (max-width: 990px) {
    .footer-titel {
        display: none;
    }

    .navbar>.container-fluid {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .img-banner {
        height: 18rem;
    }

    .content-contact{
        padding-left: 1rem;
    }

    /* .img-lienhe {
        width: 22.5rem;
        height: 11rem;
    } */
}